/* Extracted from designv2/incoming/abundanceuat-css.css
   Matching selectors/classes related to navbar, nav, navigation, and footer. */
.blockquote-footer{margin-top:-1rem;margin-bottom:1rem;font-size:0.875em;color:#6c757d}

.blockquote-footer::before{content:"â€”Â "}

.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}

.nav-link{display:block;padding:.5rem 1rem;color:#0d6efd;text-decoration:none;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out}

@media(prefers-reduced-motion: reduce){.nav-link{transition:none}}

.nav-link:hover,.nav-link:focus{color:rgb(10.4,88,202.4)}

.nav-link.disabled{color:#6c757d;pointer-events:none;cursor:default}

.nav-tabs{border-bottom:1px solid #dee2e6}

.nav-tabs .nav-link{margin-bottom:-1px;background:none;border:1px solid rgba(0,0,0,0);border-top-left-radius:.25rem;border-top-right-radius:.25rem}

.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus{border-color:#e9ecef #e9ecef #dee2e6;isolation:isolate}

.nav-tabs .nav-link.disabled{color:#6c757d;background-color:rgba(0,0,0,0);border-color:rgba(0,0,0,0)}

.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}

.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}

.nav-pills .nav-link{background:none;border:0;border-radius:.25rem}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#0d6efd}

.nav-fill>.nav-link,.nav-fill .nav-item{flex:1 1 auto;text-align:center}

.nav-justified>.nav-link,.nav-justified .nav-item{flex-basis:0;flex-grow:1;text-align:center}

.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link{width:100%}

.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem}

.navbar>.container,.navbar>.container-fluid,.navbar>.container-sm,.navbar>.container-md,.navbar>.container-lg{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between}

.navbar-brand{padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap}

.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}

.navbar-nav .nav-link{padding-right:0;padding-left:0}

.navbar-nav .dropdown-menu{position:static}

.navbar-text{padding-top:.5rem;padding-bottom:.5rem}

.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}

.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:rgba(0,0,0,0);border:1px solid rgba(0,0,0,0);border-radius:.25rem;transition:box-shadow .15s ease-in-out}

@media(prefers-reduced-motion: reduce){.navbar-toggler{transition:none}}

.navbar-toggler:hover{text-decoration:none}

.navbar-toggler:focus{text-decoration:none;outline:0;box-shadow:0 0 0 .25rem}

.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;background-repeat:no-repeat;background-position:center;background-size:100%}

.navbar-nav-scroll{max-height:var(--bs-scroll-height, 75vh);overflow-y:auto}

@media(min-width: 768px){.navbar-expand-sm{flex-wrap:nowrap;justify-content:flex-start}}

@media(min-width: 768px){.navbar-expand-sm .navbar-nav{flex-direction:row}}

@media(min-width: 768px){.navbar-expand-sm .navbar-nav .dropdown-menu{position:absolute}}

@media(min-width: 768px){.navbar-expand-sm .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}}

@media(min-width: 768px){.navbar-expand-sm .navbar-nav-scroll{overflow:visible}}

@media(min-width: 768px){.navbar-expand-sm .navbar-collapse{display:flex !important;flex-basis:auto}}

@media(min-width: 768px){.navbar-expand-sm .navbar-toggler{display:none}}

@media(min-width: 992px){.navbar-expand-md{flex-wrap:nowrap;justify-content:flex-start}}

@media(min-width: 992px){.navbar-expand-md .navbar-nav{flex-direction:row}}

@media(min-width: 992px){.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}}

@media(min-width: 992px){.navbar-expand-md .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}}

@media(min-width: 992px){.navbar-expand-md .navbar-nav-scroll{overflow:visible}}

@media(min-width: 992px){.navbar-expand-md .navbar-collapse{display:flex !important;flex-basis:auto}}

@media(min-width: 992px){.navbar-expand-md .navbar-toggler{display:none}}

@media(min-width: 1200px){.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-nav{flex-direction:row}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-nav-scroll{overflow:visible}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-collapse{display:flex !important;flex-basis:auto}}

@media(min-width: 1200px){.navbar-expand-lg .navbar-toggler{display:none}}

.navbar-expand{flex-wrap:nowrap;justify-content:flex-start}

.navbar-expand .navbar-nav{flex-direction:row}

.navbar-expand .navbar-nav .dropdown-menu{position:absolute}

.navbar-expand .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem}

.navbar-expand .navbar-nav-scroll{overflow:visible}

.navbar-expand .navbar-collapse{display:flex !important;flex-basis:auto}

.navbar-expand .navbar-toggler{display:none}

.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}

.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus{color:rgba(0,0,0,.9)}

.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.55)}

.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus{color:rgba(0,0,0,.7)}

.navbar-light .navbar-nav .nav-link.disabled{color:rgba(0,0,0,.3)}

.navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link.active{color:rgba(0,0,0,.9)}

.navbar-light .navbar-toggler{color:rgba(0,0,0,.55);border-color:rgba(0,0,0,.1)}

.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

.navbar-light .navbar-text{color:rgba(0,0,0,.55)}

.navbar-light .navbar-text a,.navbar-light .navbar-text a:hover,.navbar-light .navbar-text a:focus{color:rgba(0,0,0,.9)}

.navbar-dark .navbar-brand{color:#fff}

.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus{color:#fff}

.navbar-dark .navbar-nav .nav-link{color:hsla(0,0%,100%,.55)}

.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{color:hsla(0,0%,100%,.75)}

.navbar-dark .navbar-nav .nav-link.disabled{color:hsla(0,0%,100%,.25)}

.navbar-dark .navbar-nav .show>.nav-link,.navbar-dark .navbar-nav .nav-link.active{color:#fff}

.navbar-dark .navbar-toggler{color:hsla(0,0%,100%,.55);border-color:hsla(0,0%,100%,.1)}

.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

.navbar-dark .navbar-text{color:hsla(0,0%,100%,.55)}

.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:hover,.navbar-dark .navbar-text a:focus{color:#fff}

.card>.card-header+.list-group,.card>.list-group+.card-footer{border-top:0}

.card-footer{padding:.5rem 1rem;background-color:rgba(0,0,0,.03);border-top:1px solid rgba(0,0,0,.125)}

.card-footer:last-child{border-radius:0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)}

@media(min-width: 768px){.card-group>.card:not(:last-child) .card-img-bottom,.card-group>.card:not(:last-child) .card-footer{border-bottom-right-radius:0}}

@media(min-width: 768px){.card-group>.card:not(:first-child) .card-img-bottom,.card-group>.card:not(:first-child) .card-footer{border-bottom-left-radius:0}}

.modal-footer{display:flex;flex-wrap:wrap;flex-shrink:0;align-items:center;justify-content:flex-end;padding:.75rem;border-top:1px solid #dee2e6;border-bottom-right-radius:calc(0.3rem - 1px);border-bottom-left-radius:calc(0.3rem - 1px)}

.modal-footer>*{margin:.25rem}

.modal-fullscreen .modal-footer{border-radius:0}

@media(max-width: 767.98px){.modal-fullscreen-sm-down .modal-footer{border-radius:0}}

@media(max-width: 991.98px){.modal-fullscreen-md-down .modal-footer{border-radius:0}}

@media(max-width: 1199.98px){.modal-fullscreen-lg-down .modal-footer{border-radius:0}}

.navbar-nav>li>a{display:block}

.navbar-nav .dropdown-menu{position:absolute}

.footer-copyright{position:relative;z-index:2147483643}

@media(max-width: 767px){.footer-copyright-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}

.footer-copyright-wrapper{display:flex;align-items:center;border-top:1px solid;padding-top:15px;margin:10px 0 15px}

.footer-copyright__left{line-height:0;flex:1 0 auto}

@media(max-width: 767px){.footer-copyright__left{margin-bottom:1.4rem}}

@media(max-width: 767px)and (min-width: 768px){.footer-copyright__left{margin-bottom:2rem}}

@media(max-width: 767px){.footer-copyright__right,.footer-copyright__left{width:100%;text-align:center;justify-content:center}}

.navbar-nav .open .dropdown-menu{padding:0}

@media(min-width: 1200px){.navbar-nav .open .dropdown-menu{width:220px;right:0;left:auto;margin-top:5px !important}}

.navbar-nav .open .dropdown-menu>li>a{padding:15px 18px;font-size:14px}

@media(max-width: 1200px){.navbar-nav .open .dropdown-menu>li>a{color:#fff}}

@media(max-width: 1200px){.navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:active,.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:active:hover,.navbar-nav .open .dropdown-menu>li>a:active:focus{color:#282827}}

@media(max-width: 1200px){.is-not-home .navbar-nav .open .dropdown-menu>li>a{color:#282827}}

@media(max-width: 1200px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:rgba(0,0,0,0);border:0;box-shadow:none}}

@media(max-width: 768px){.modal-dialog-timer .modal-footer{display:flex;justify-content:center;flex-wrap:wrap}}

@media(max-width: 768px){.modal-dialog-timer .modal-footer .btn{flex:2 1 auto;margin:0 0 10px 0 !important}}

.si-mega-menu__content .user-nav{display:none;background-color:#f27fae;margin:1rem 1.25rem}

.si-mega-menu__content .user-nav .si-mega-menu__item{padding:1rem 0;font-weight:700;font-size:1.25rem}

.si-mega-menu__content .user-nav .si-mega-menu__item:last-child{border-bottom:none}

@media(max-width: 1199px){.si-mega-menu__content .user-nav{display:block}}

.forum-topic-form-footer{text-align:right;padding:8px 16px;border-top:1px solid hsl(0,0%,76%);background:#fff}

.forum-topic-form-footer .btn{margin-right:0;margin-top:4px}

.forum-topic-footer{padding-top:20px;padding-left:20px;padding-right:20px;margin-left:-20px;margin-right:-20px;border-top:1px solid hsl(0,0%,76%)}

.forum-topic-footer__inner{display:flex;align-items:flex-start}

.si-withdraw__warning-modal .modal-footer{border-top:0;padding:10px 20px 20px 20px}

.risk-warning--footer{align-items:center;z-index:2147483641;right:15px;bottom:10px;padding:5px;border-radius:4px;box-shadow:0 2px 5px 0 rgba(0,0,0,.22)}

@media only screen and (max-width: 768px){.risk-warning--footer{display:flex}}

.risk-warning--footer span{font-size:14px;line-height:21px;padding-left:10px}

.risk-warning-modal.modal-dialog .modal-footer{border-top:0}

.modal-dialog--cool-off .modal-footer,.modal-dialog--personalised-risk .modal-footer{margin-left:1rem;padding:1rem 0 0 0;margin-right:1rem}

.modal-dialog--cool-off .modal-footer a,.modal-dialog--personalised-risk .modal-footer a{margin-right:1.4rem}

@media(min-width: 768px){.modal-dialog--cool-off .modal-footer a,.modal-dialog--personalised-risk .modal-footer a{margin-right:2rem}}

.modal-dialog--cool-off .modal-footer a,.modal-dialog--personalised-risk .modal-footer a{margin-left:0}

.modal-dialog--cool-off .modal-footer--bordered,.modal-dialog--personalised-risk .modal-footer--bordered{border-top:2px solid rgba(0,0,0,0)}

.si-icon--navigation-stepper-complete{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/step-complete.svg")}

.si-icon--navigation-stepper-failed{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/step-failed.svg")}

.si-icon--navigation-stepper-active{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/step-active.svg")}

.si-icon--navigation-stepper-pending{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/step-pending.svg")}

.si-link--navigation{text-decoration:none;color:#4d4a46;white-space:nowrap}

.si-link--navigation.active-link{text-decoration:2px underline}

.si-link--navigation:hover,.si-link--navigation:focus,.si-link--navigation:active,.si-link--navigation:active:hover,.si-link--navigation:active:focus{color:#4d4a46;text-decoration:underline max(3px,.1875rem,.12em)}

.si-navigation-list{margin:0;padding:0;list-style-type:none;display:flex;flex-direction:row}

.si-navigation-list--md{line-height:1.62;font-weight:400;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;color:#4d4a46;letter-spacing:normal;font-size:1.1875rem}

@media(max-width: 767px){.si-navigation-list--md{font-size:1rem}}

.si-navigation-list--lg{line-height:1.62;font-weight:400;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;color:#4d4a46;letter-spacing:normal;font-size:1.25rem}

@media(max-width: 767px){.si-navigation-list--lg{font-size:1.125rem}}

.si-navigation-list,.si-navigation-list--horizontal,.si-navigation-list--nav-collapse{gap:2rem}

.si-navigation-list li,.si-navigation-list--horizontal li,.si-navigation-list--nav-collapse li{display:inline-block}

.si-navigation-list--horizontal{flex-wrap:wrap}

.si-navigation-list--vertical{flex-direction:column;gap:3rem}

.si-navigation-list--vertical li{display:block}

@media(max-width: 1199px){.si-navigation-list--nav-collapse{display:flex;flex-direction:column;gap:3rem}}

@media(max-width: 1199px){.si-navigation-list--nav-collapse li{display:block}}

.si-navigation-stepper{display:flex;justify-content:space-between;width:100%;list-style:none;padding:0;margin-bottom:0;flex-direction:row}

.si-navigation-step{display:flex;flex-direction:column;align-items:center;text-align:center;gap:1rem;line-height:1.2;color:#282827;font-weight:400;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;font-size:1rem}

@media(max-width: 767px){.si-navigation-step{font-size:1rem}}

.si-navigation-step{color:#282827;flex:1 1 0}

.si-navigation-step__icon{width:100%}

.si-navigation-step:not(:last-child)>.si-navigation-step__icon::after{content:"";position:relative;display:block;width:calc(100% - 1.25rem - 1rem);left:calc(50% + .625rem + .5rem);height:.125rem;top:calc(50% - .0625rem);background:#e9e4e3}

.si-navigation-step--active{color:#282827}

.si-page__top--restricted-nav{background-color:#151943;padding-top:0;padding-bottom:3rem}

@media(max-width: 767px){.si-page__top--restricted-nav{background-color:#151943;padding-top:1.5rem;padding-bottom:1.5rem}}

.si-page__body--restricted-nav{background-color:#151943;padding-top:0;padding-bottom:5rem}

@media(max-width: 767px){.si-page__body--restricted-nav{background-color:#fff;padding-top:1.5rem;padding-bottom:3rem}}

.brand-blockquote footer{display:flex;align-items:center;padding-top:2.1rem}

@media(min-width: 768px){.brand-blockquote footer{padding-top:3rem}}

.brand-blockquote footer img{width:4rem;height:4rem;margin-right:1.05rem}

@media(min-width: 768px){.brand-blockquote footer img{margin-right:1.5rem}}

.brand-blockquote footer img{mask-size:cover;mask-repeat:no-repeat;mask-position:center;-webkit-mask-size:cover;-webkit-mask-repeat:no-repeat;-webkit-mask-position:center;mask-image:url("data:image/svg+xml,%3Csvg width='256' height='256' viewBox='0 0 256 256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M127.135 256C223.372 256 243.88 197.995 254.27 128.176C268.039 35.6689 197.2 -4.27897 127.135 0.361027C45.9147 5.73317 0 57.5876 0 128.176C0 198.764 29.7872 256 127.135 256Z' fill='%23FFD1D6'/%3E%3C/svg%3E%0A")}

.brand-blockquote footer p{font-size:1.5rem;font-weight:600;margin-bottom:0}

@media(min-width: 768px){.brand-blockquote footer p{font-size:1.75rem}}

.abundance-dashboard-chart__tooltip-footer{line-height:1.62;font-weight:400;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;color:#4d4a46;letter-spacing:normal;font-size:.75rem}

@media(max-width: 767px){.abundance-dashboard-chart__tooltip-footer{font-size:.75rem}}

.abundance-dashboard-chart__tooltip-footer{color:#e7e7e7;margin-bottom:0}

.footer{background-color:#e9e4e3}

.footer-links a{width:fit-content}

.footer-links a:hover{text-decoration:underline;text-decoration-thickness:max(3px,.1875rem,.12em)}

.footer-links a:focus{border-radius:.0625rem;outline:2px solid #c1658b;outline-offset:.125rem}

.footer-copyright__icon a:focus{border-radius:.0625rem;outline:2px solid #c1658b;outline-offset:.125rem}

.site-navbar{width:100%;font-size:1.125rem;font-weight:400;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;line-height:1.5}

@media(min-width: 768px){.site-navbar{font-size:1.25rem}}

.site-navbar{position:relative}

.site-navbar a{text-decoration:none}

.site-navbar a:hover,.site-navbar a:focus,.site-navbar a:active,.site-navbar a:active:hover,.site-navbar a:active:focus{text-decoration:none}

.site-navbar>.container{max-width:1440px}

@media(max-width: 1199px){.site-navbar>.container{padding:0}}

.brand-navbar-header .logo-wrapper{padding:.3125rem}

@media(max-width: 1199px){.brand-navbar-header .logo-wrapper{padding-left:1rem}}

.brand-navbar-header .logo-wrapper .logo{width:auto;height:50px}

.brand-navbar-nav{font-family:"New Kansas",Georgia,serif;font-weight:400;padding-top:.75rem;padding-bottom:.75rem;line-height:1}

.brand-navbar-nav>li>a{text-decoration:none}

.brand-navbar-nav{letter-spacing:.02rem}

@media(min-width: 1200px){.brand-navbar{padding:1.1875rem 2rem;border:0;display:flex;align-items:center;justify-content:flex-start;position:static}}

@media(min-width: 1200px){.brand-navbar-nav{display:flex;flex:1 0 auto;-webkit-box-flex:1;-ms-flex:1 0 auto;justify-content:center;flex-direction:row}}

@media(min-width: 1200px){.brand-navbar-nav .brand-dropdown-menu{z-index:999}}

@media(min-width: 1200px){.brand-navbar-nav>li:not(:last-child){margin-right:1.4rem}}

@media(min-width: 1200px)and (min-width: 768px){.brand-navbar-nav>li:not(:last-child){margin-right:2rem}}

@media(min-width: 1200px){.brand-navbar-nav__parent-item-link:focus,.brand-navbar__login-btn:focus{border-radius:.0625rem;outline:2px solid #c1658b;outline-offset:.125rem}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu-toggle::before{content:"";position:absolute;bottom:-15px;left:-15px;width:calc(100% + 30px);height:50px}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu-toggle::after{content:"";background-image:url("data:image/svg+xml,%3Csvg width='38' height='21' viewBox='0 0 38 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.519998 8.67999V0.279995L19 12.52L37.48 0.279995V8.67999L19 20.92L0.519998 8.67999Z' fill='%23282827'/%3E%3C/svg%3E%0A");background-repeat:no-repeat;background-size:100%;height:.42rem;width:.76rem;display:inline-block;margin-left:.5rem;margin-bottom:.25rem}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu-toggle:hover::after{border-top-color:#282827}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu-toggle[aria-expanded=true]::after{transform:rotate(180deg)}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu{width:17.75rem;border:none;border-radius:1rem;box-shadow:0px 2px 16px 0px rgba(0,0,0,.12);left:-25px;padding:.5rem 1.875rem}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li{padding:.75rem 0}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a{text-decoration:none;padding:.25rem .125rem;line-height:1;display:flex;align-items:center;justify-content:space-between;border:2px solid rgba(0,0,0,0);margin:0 -0.25rem}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a:after{content:"";width:1rem;height:.75rem;min-width:1rem;min-height:.75rem;background-repeat:no-repeat;background-size:contain;background-position:center;display:inline-block;background-image:url("https://cdn4.sharein.com/abundance/assets/icons/euclid-right-arrow--grey.svg")}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a:hover{text-decoration:underline}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a:active{color:#c1658b;text-decoration:underline}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a:active:after{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/euclid-right-arrow--pink.svg")}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li a:focus{border:2px solid #c1658b;border-radius:.25rem}}

@media(min-width: 1200px){.brand-navbar .brand-dropdown-menu li:not(:last-child){border-bottom:2px solid #71716e}}

@media(max-width: 1199px){.brand-navbar{margin-top:.625rem;margin-bottom:.625rem}}

@media(max-width: 1199px){.brand-navbar-header{float:none;display:flex;justify-content:space-between;align-items:center;width:100%;padding:.625rem 0}}

@media(max-width: 1199px){.brand-navbar-header:before,.brand-navbar-header:after{display:none}}

@media(max-width: 1199px){.brand-navbar-nav{margin:0;z-index:1;position:relative;padding:1.5rem 1rem 0}}

@media(max-width: 1199px){.brand-navbar-nav>li>a{text-decoration:none}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu-toggle{display:flex;align-items:center;justify-content:space-between}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu-toggle:after{content:"";width:1rem;height:1rem;min-width:1rem;min-height:1rem;background-repeat:no-repeat;background-size:contain;background-position:center;display:inline-block;background-image:url("data:image/svg+xml,%3Csvg width='38' height='21' viewBox='0 0 38 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.519998 8.67999V0.279995L19 12.52L37.48 0.279995V8.67999L19 20.92L0.519998 8.67999Z' fill='%23282827'/%3E%3C/svg%3E%0A")}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu-toggle:hover::after{border-top-color:#282827}}

@media(max-width: 1199px){.brand-navbar .show.brand-dropdown-menu-toggle::after{transform:rotate(180deg)}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu[data-bs-popper]{margin-top:0}}

@media(max-width: 1199px){.brand-navbar-nav__parent-item:not(:last-of-type),.brand-navbar .brand-dropdown:not(:last-of-type){margin-bottom:1rem}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu{border:none;padding:1rem 0 1rem 2rem;position:static}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li{line-height:1}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li a{display:inline-block;padding:.125rem;border:2px solid rgba(0,0,0,0)}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li a:hover{color:#c1658b;text-decoration:underline}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li a:active{color:#c1658b;text-decoration:underline}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li a:focus{border:2px solid #c1658b;border-radius:.25rem}}

@media(max-width: 1199px){.brand-navbar .brand-dropdown-menu li:not(:last-child){margin-bottom:.875rem}}

@media(max-width: 1199px){.brand-navbar--account-partial li{width:100%}}

@media(max-width: 1199px){.brand-navbar__auth-btn-wrapper{display:flex;flex-direction:column-reverse;margin-bottom:2.1rem}}

@media(max-width: 1199px)and (min-width: 768px){.brand-navbar__auth-btn-wrapper{margin-bottom:3rem}}

@media(max-width: 1199px){.brand-navbar__auth-btn-wrapper .btn{margin-bottom:1.4rem}}

@media(max-width: 1199px)and (min-width: 768px){.brand-navbar__auth-btn-wrapper .btn{margin-bottom:2rem}}

@media(min-width: 1200px){.brand-navbar--account-partial{margin-left:1.4rem;flex-wrap:no-wrap}}

@media(min-width: 1200px)and (min-width: 768px){.brand-navbar--account-partial{margin-left:2rem}}

@media(min-width: 1200px){.brand-navbar__auth-btn-wrapper{line-height:1;display:flex;flex-direction:row;flex-wrap:nowrap;white-space:nowrap;align-items:center;justify-content:center}}

@media(min-width: 1200px){.brand-navbar__login-btn{margin-right:1.4rem}}

@media(min-width: 1200px)and (min-width: 768px){.brand-navbar__login-btn{margin-right:2rem}}

@media(max-width: 1199px){.brand-navbar--account-partial{margin-top:1.4rem;margin-left:1.4rem;margin-right:1.4rem}}

@media(max-width: 1199px)and (min-width: 768px){.brand-navbar--account-partial{margin-top:2rem}}

@media(max-width: 1199px)and (min-width: 768px){.brand-navbar--account-partial{margin-left:2rem;margin-right:2rem}}

@media(max-width: 1199px){.brand-navbar__login-btn:hover,.brand-navbar__login-btn:active,.brand-navbar__login-btn:focus{outline:0 !important}}

@media(max-width: 1199px){.brand-navbar__login-btn:active{position:relative;top:1px}}

@media(max-width: 1199px){.brand-navbar__login-btn.disabled,.brand-navbar__login-btn-disabled{zoom:1;filter:alpha(opacity=50);opacity:.5}}

@media(max-width: 1199px){.brand-navbar__login-btn-primary{color:#fff;background-color:#f27fae;border-color:#f27fae}}

@media(max-width: 1199px){.brand-navbar__login-btn-primary:hover,.brand-navbar__login-btn-primary:active,.brand-navbar__login-btn-primary:focus,.brand-navbar__login-btn-primary:active:hover,.brand-navbar__login-btn-primary:active:focus{background-color:#f27fae;color:#fff;border-color:#f27fae}}

@media(max-width: 1199px){.brand-navbar__login-btn-primary[disabled]:hover{background-color:#58585a;border-color:#58585a;color:#fff}}

@media(max-width: 1199px){.brand-navbar__login-btn-secondary{color:#fff;background-color:#00a4b6;border-color:#00a4b6}}

@media(max-width: 1199px){.brand-navbar__login-btn-secondary:hover,.brand-navbar__login-btn-secondary:active,.brand-navbar__login-btn-secondary:focus,.brand-navbar__login-btn-secondary:active:hover,.brand-navbar__login-btn-secondary:active:focus{background-color:#00a4b6;color:#fff;border-color:#00a4b6}}

@media(max-width: 1199px){.brand-navbar__login-btn{outline:none;box-shadow:none;border-width:2px;border-style:solid;line-height:1;font-family:"New Kansas",Georgia,serif;border-radius:60px;text-decoration:none;display:inline-block;font-weight:700;letter-spacing:.05rem;text-transform:uppercase;text-align:center;cursor:pointer}}

@media(max-width: 1199px){.brand-navbar__login-btn:hover,.brand-navbar__login-btn:focus,.brand-navbar__login-btn:active,.brand-navbar__login-btn:active:hover,.brand-navbar__login-btn:active:focus{text-decoration:none;box-shadow:none}}

@media(max-width: 1199px){.brand-navbar__login-btn{display:block;text-align:center;background-color:rgba(0,0,0,0);border-color:#f27fae;color:#f27fae;font-size:1rem;padding:.75rem 1rem}}

@media(max-width: 1199px)and (min-width: 768px){.brand-navbar__login-btn{font-size:1.25rem;padding:.75rem 1rem}}

@media(max-width: 1199px){.brand-navbar__login-btn:hover{background-color:#f7d9e8;border-color:#c1658b;color:#f27fae}}

@media(max-width: 1199px){.brand-navbar__login-btn:active{background-color:#f7d9e8 !important;border-color:#c1658b !important;color:#c1658b !important}}

@media(max-width: 1199px){.brand-navbar__login-btn:focus{outline:2px solid #c1658b !important;outline-offset:2px;background-color:#f7d9e8;border-color:#f27fae;color:#f27fae}}

@media(max-width: 1199px){.brand-navbar__login-btn:disabled{opacity:.6}}

.brand-navbar .brand-dropdown .brand-dropdown-menu li a.active-link,.brand-navbar .brand-dropdown .brand-dropdown-menu li a:active,.brand-navbar .brand-dropdown .brand-dropdown-menu li a:hover{color:#c1658b}

.brand-navbar .brand-dropdown .brand-dropdown-menu li a.active-link:after,.brand-navbar .brand-dropdown .brand-dropdown-menu li a:active:after,.brand-navbar .brand-dropdown .brand-dropdown-menu li a:hover:after{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/euclid-right-arrow--pink.svg")}

.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a.active-link,.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a:active,.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a:hover{color:#ffb72c}

.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a.active-link:after,.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a:active:after,.brand-navbar .brand-dropdown--councils .brand-dropdown-menu li a:hover:after{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/euclid-right-arrow--orange.svg")}

.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a.active-link,.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a:active,.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a:hover{color:#008391}

.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a.active-link:after,.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a:active:after,.brand-navbar .brand-dropdown--companies .brand-dropdown-menu li a:hover:after{background-image:url("https://cdn4.sharein.com/abundance/assets/icons/euclid-right-arrow--cyan.svg")}

@media(min-width: 1200px){.navbar-is-collapsed{display:flex;align-items:center;padding-left:1.875rem;width:100%;justify-content:space-between}}

@media(max-width: 1199px){.navbar-is-collapsed{border-radius:.5rem;width:100%;display:flex;flex-direction:column-reverse;position:relative;z-index:999999;border-radius:.5rem}}

.brand-navbar__hamburger-toggle{display:flex;background-color:rgba(0,0,0,0);border:2px solid #f27fae;border-radius:1.75rem;color:#f27fae;margin-right:1rem}

.brand-navbar__hamburger-toggle:hover,.brand-navbar__hamburger-toggle:focus,.brand-navbar__hamburger-toggle:active,.brand-navbar__hamburger-toggle:active:hover,.brand-navbar__hamburger-toggle:active:focus{border:2px solid #f27fae}

@media(min-width: 1200px){.brand-navbar__hamburger-toggle{display:none}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle{display:flex;align-items:center;padding:.75rem 1.5rem}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle:hover>i::before{top:-7px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle:hover>i::after{bottom:-7px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button{display:none;z-index:21;cursor:pointer;border-bottom:none !important;transition:none}}

@media(max-width: 1199px)and (max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button{display:block}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button:hover,.brand-navbar__hamburger-toggle .burger-button:focus,.brand-navbar__hamburger-toggle .burger-button:active{outline:none;border-bottom:none !important}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button:hover>i::before{top:-7px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button:hover>i::after{bottom:-7px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button.active{z-index:100;top:10px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button>i{position:relative;display:inline-block;width:16px;height:1px;color:#f27fae;background:#f27fae;transition:all .2s ease-out;bottom:4px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button>i::before,.brand-navbar__hamburger-toggle .burger-button>i::after{content:"";width:16px;height:1px;background:#f27fae;position:absolute;left:0;transition:all .2s ease}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button>i::after{bottom:-5px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .burger-button>i::before{top:-5px}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle.active>.burger-button>i,.brand-navbar__hamburger-toggle[aria-expanded=true]>.burger-button>i{background:rgba(0,0,0,0)}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle.active>.burger-button>i::before,.brand-navbar__hamburger-toggle.active>.burger-button>i::after,.brand-navbar__hamburger-toggle[aria-expanded=true]>.burger-button>i::before,.brand-navbar__hamburger-toggle[aria-expanded=true]>.burger-button>i::after{background-color:#f27fae}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle.active>.burger-button>i::before,.brand-navbar__hamburger-toggle[aria-expanded=true]>.burger-button>i::before{top:0;transform:rotateZ(45deg)}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle.active>.burger-button>i::after,.brand-navbar__hamburger-toggle[aria-expanded=true]>.burger-button>i::after{bottom:0;transform:rotateZ(-45deg)}}

@media(max-width: 1199px){.brand-navbar__hamburger-toggle .update-badge{margin-left:.5rem}}

@media(max-width: 1199px){.brand-navbar__hamburger-label{margin-right:.5rem;font-size:1.25rem}}

@media(max-width: 1199px){.navbar-main{margin-bottom:2.1rem}}

@media(max-width: 1199px)and (min-width: 768px){.navbar-main{margin-bottom:3rem}}

@media(max-width: 991px){.pitch-card__footer--council{align-items:flex-start;flex-direction:column-reverse}}

.si-page-withdraw-warning-modal .modal-footer{padding:0;border-top:none}

.si-page-withdraw-warning-modal .modal-footer a,.si-page-withdraw-warning-modal .modal-footer button{margin-bottom:.175rem}

@media(min-width: 768px){.si-page-withdraw-warning-modal .modal-footer a,.si-page-withdraw-warning-modal .modal-footer button{margin-bottom:.25rem}}

.si-page-modal--isa .modal-footer{border-top:none;justify-content:flex-start}

.si-page-dropdown .nav-tabs .nav-link{border:unset;margin-bottom:unset}

.si-portfolio-investments-tab-menu .nav-tabs{border-bottom:2px solid #e9e4e3}

.si-portfolio-investments-tab-menu .nav-item:not(:last-child){margin-right:2.1rem}

@media(min-width: 768px){.si-portfolio-investments-tab-menu .nav-item:not(:last-child){margin-right:3rem}}

.si-resale-delete-listing-modal .modal-footer{padding:0;border-top:none;justify-content:flex-start}

.si-resale-delete-listing-modal .modal-footer a,.si-resale-delete-listing-modal .modal-footer button{display:inline-block;margin:unset;margin-bottom:1.4rem}

@media(min-width: 768px){.si-resale-delete-listing-modal .modal-footer a,.si-resale-delete-listing-modal .modal-footer button{margin-bottom:2rem}}

.si-resale-delete-listing-modal .modal-footer a,.si-resale-delete-listing-modal .modal-footer button{margin-right:1.4rem}

@media(min-width: 768px){.si-resale-delete-listing-modal .modal-footer a,.si-resale-delete-listing-modal .modal-footer button{margin-right:2rem}}

.si-auth p,.si-auth-footer p{line-height:1.4}

.si-auth a,.si-auth .si-auth-link,.si-auth-footer a,.si-auth-footer .si-auth-link{cursor:pointer}

.si-auth a:not(.si-auth-button),.si-auth .si-auth-link:not(.si-auth-button),.si-auth-footer a:not(.si-auth-button),.si-auth-footer .si-auth-link:not(.si-auth-button){color:#f27fae;text-decoration:underline;font-weight:500}

.si-auth a:not(.si-auth-button):hover,.si-auth a:not(.si-auth-button):focus,.si-auth a:not(.si-auth-button):active,.si-auth a:not(.si-auth-button):active:hover,.si-auth a:not(.si-auth-button):active:focus,.si-auth .si-auth-link:not(.si-auth-button):hover,.si-auth .si-auth-link:not(.si-auth-button):focus,.si-auth .si-auth-link:not(.si-auth-button):active,.si-auth .si-auth-link:not(.si-auth-button):active:hover,.si-auth .si-auth-link:not(.si-auth-button):active:focus,.si-auth-footer a:not(.si-auth-button):hover,.si-auth-footer a:not(.si-auth-button):focus,.si-auth-footer a:not(.si-auth-button):active,.si-auth-footer a:not(.si-auth-button):active:hover,.si-auth-footer a:not(.si-auth-button):active:focus,.si-auth-footer .si-auth-link:not(.si-auth-button):hover,.si-auth-footer .si-auth-link:not(.si-auth-button):focus,.si-auth-footer .si-auth-link:not(.si-auth-button):active,.si-auth-footer .si-auth-link:not(.si-auth-button):active:hover,.si-auth-footer .si-auth-link:not(.si-auth-button):active:focus{color:#f27fae;text-decoration:underline}

.si-auth a.si-auth-email-link,.si-auth-footer a.si-auth-email-link{font-weight:600;text-decoration:none}

.si-auth a.si-auth-email-link:hover,.si-auth a.si-auth-email-link:focus,.si-auth a.si-auth-email-link:active,.si-auth a.si-auth-email-link:active:hover,.si-auth a.si-auth-email-link:active:focus,.si-auth-footer a.si-auth-email-link:hover,.si-auth-footer a.si-auth-email-link:focus,.si-auth-footer a.si-auth-email-link:active,.si-auth-footer a.si-auth-email-link:active:hover,.si-auth-footer a.si-auth-email-link:active:focus{text-decoration:none}

.si-auth .help-block,.si-auth #opc_error_message,.si-auth-footer .help-block,.si-auth-footer #opc_error_message{font-size:.75rem;line-height:1.4;margin:0;margin-top:.3125rem}

.si-auth #opc_error_message,.si-auth-footer #opc_error_message{color:#c10c21}

.si-auth input,.si-auth select,.si-auth-footer input,.si-auth-footer select{color:#282827;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif;font-size:1rem;font-weight:400;line-height:inherit}

.si-auth input[type=text],.si-auth input[type=password],.si-auth input[type=email],.si-auth input[type=number],.si-auth input[type=tel],.si-auth select,.si-auth-footer input[type=text],.si-auth-footer input[type=password],.si-auth-footer input[type=email],.si-auth-footer input[type=number],.si-auth-footer input[type=tel],.si-auth-footer select{display:block;background-color:#fff;width:100%;padding:.75rem .9375rem;box-sizing:border-box;border:1px solid #979797;border-radius:0;outline:none;box-shadow:none}

.si-auth input[type=text]:hover,.si-auth input[type=text]:focus,.si-auth input[type=text]:active,.si-auth input[type=text]:active:hover,.si-auth input[type=text]:active:focus,.si-auth input[type=password]:hover,.si-auth input[type=password]:focus,.si-auth input[type=password]:active,.si-auth input[type=password]:active:hover,.si-auth input[type=password]:active:focus,.si-auth input[type=email]:hover,.si-auth input[type=email]:focus,.si-auth input[type=email]:active,.si-auth input[type=email]:active:hover,.si-auth input[type=email]:active:focus,.si-auth input[type=number]:hover,.si-auth input[type=number]:focus,.si-auth input[type=number]:active,.si-auth input[type=number]:active:hover,.si-auth input[type=number]:active:focus,.si-auth input[type=tel]:hover,.si-auth input[type=tel]:focus,.si-auth input[type=tel]:active,.si-auth input[type=tel]:active:hover,.si-auth input[type=tel]:active:focus,.si-auth select:hover,.si-auth select:focus,.si-auth select:active,.si-auth select:active:hover,.si-auth select:active:focus,.si-auth-footer input[type=text]:hover,.si-auth-footer input[type=text]:focus,.si-auth-footer input[type=text]:active,.si-auth-footer input[type=text]:active:hover,.si-auth-footer input[type=text]:active:focus,.si-auth-footer input[type=password]:hover,.si-auth-footer input[type=password]:focus,.si-auth-footer input[type=password]:active,.si-auth-footer input[type=password]:active:hover,.si-auth-footer input[type=password]:active:focus,.si-auth-footer input[type=email]:hover,.si-auth-footer input[type=email]:focus,.si-auth-footer input[type=email]:active,.si-auth-footer input[type=email]:active:hover,.si-auth-footer input[type=email]:active:focus,.si-auth-footer input[type=number]:hover,.si-auth-footer input[type=number]:focus,.si-auth-footer input[type=number]:active,.si-auth-footer input[type=number]:active:hover,.si-auth-footer input[type=number]:active:focus,.si-auth-footer input[type=tel]:hover,.si-auth-footer input[type=tel]:focus,.si-auth-footer input[type=tel]:active,.si-auth-footer input[type=tel]:active:hover,.si-auth-footer input[type=tel]:active:focus,.si-auth-footer select:hover,.si-auth-footer select:focus,.si-auth-footer select:active,.si-auth-footer select:active:hover,.si-auth-footer select:active:focus{outline:none;box-shadow:none}

.si-auth input[type=text].valid,.si-auth input[type=password].valid,.si-auth input[type=email].valid,.si-auth input[type=number].valid,.si-auth input[type=tel].valid,.si-auth select.valid,.si-auth-footer input[type=text].valid,.si-auth-footer input[type=password].valid,.si-auth-footer input[type=email].valid,.si-auth-footer input[type=number].valid,.si-auth-footer input[type=tel].valid,.si-auth-footer select.valid{border-color:#1f8f26}

.si-auth input[type=text].input-validation-error,.si-auth input[type=password].input-validation-error,.si-auth input[type=email].input-validation-error,.si-auth input[type=number].input-validation-error,.si-auth input[type=tel].input-validation-error,.si-auth select.input-validation-error,.si-auth-footer input[type=text].input-validation-error,.si-auth-footer input[type=password].input-validation-error,.si-auth-footer input[type=email].input-validation-error,.si-auth-footer input[type=number].input-validation-error,.si-auth-footer input[type=tel].input-validation-error,.si-auth-footer select.input-validation-error{border-color:#c10c21}

.si-auth input[type=text].input-validation-error~.si-auth-input__note,.si-auth input[type=password].input-validation-error~.si-auth-input__note,.si-auth input[type=email].input-validation-error~.si-auth-input__note,.si-auth input[type=number].input-validation-error~.si-auth-input__note,.si-auth input[type=tel].input-validation-error~.si-auth-input__note,.si-auth select.input-validation-error~.si-auth-input__note,.si-auth-footer input[type=text].input-validation-error~.si-auth-input__note,.si-auth-footer input[type=password].input-validation-error~.si-auth-input__note,.si-auth-footer input[type=email].input-validation-error~.si-auth-input__note,.si-auth-footer input[type=number].input-validation-error~.si-auth-input__note,.si-auth-footer input[type=tel].input-validation-error~.si-auth-input__note,.si-auth-footer select.input-validation-error~.si-auth-input__note{display:none}

.si-auth input:after,.si-auth input:before,.si-auth-footer input:after,.si-auth-footer input:before{display:none !important}

.si-auth input::placeholder,.si-auth-footer input::placeholder{color:rgba(40,40,39,.5)}

.si-auth input:-ms-input-placeholder,.si-auth-footer input:-ms-input-placeholder{color:rgba(40,40,39,.5)}

.si-auth input::-ms-input-placeholder,.si-auth-footer input::-ms-input-placeholder{color:rgba(40,40,39,.5)}

.si-auth input::-webkit-input-placeholder,.si-auth-footer input::-webkit-input-placeholder{color:rgba(40,40,39,.5)}

.si-auth input::-moz-placeholder,.si-auth-footer input::-moz-placeholder{color:rgba(40,40,39,.5)}

.si-auth input:-ms-input-placeholder,.si-auth-footer input:-ms-input-placeholder{color:rgba(40,40,39,.5)}

.si-auth select,.si-auth-footer select{appearance:none;color:rgba(40,40,39,.5);background-image:url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.055.984l5.063 6H6.98l5.075-6H10.06l-4 4.902L2.05.984z' fill='%231F1F1F' fill-rule='nonzero'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:right .75rem center;background-size:.75rem auto;padding-right:2.1875rem !important}

.si-auth option,.si-auth-footer option{color:#282827;padding:.3125rem}

.si-auth option:first-child,.si-auth-footer option:first-child{color:rgba(40,40,39,.5)}

.si-auth-footer{background-color:#f7f7f7}

.si-auth-footer__risk{border-top:2px solid rgba(151,151,151,.15);border-bottom:2px solid rgba(151,151,151,.15);background-color:#f7f7f7}

.si-auth-footer__copyright{color:#282827;background-color:#f7f7f7}

.si-auth-footer__copyright-icon{opacity:95%}

.si-auth-footer__copyright-text{font-size:.875rem;font-weight:400}

.navbar .nav .si-auth-account-menu__interior{list-style-type:none;margin-block-start:0px;margin-block-end:0px;margin-inline-start:0px;margin-inline-end:0px;padding-inline-start:0px}

@media(min-width: 1200px){.navbar .nav .si-auth-account-menu__interior{background-color:#fff;box-shadow:0 2px 12px 0 rgba(40,40,39,.06);z-index:2;position:absolute;right:0;opacity:0;pointer-events:none;padding:1.5625rem;min-width:18.75rem}}

@media(max-width: 1199px){.navbar .nav .si-auth-account-menu__interior{height:0;overflow:hidden}}

.navbar .nav .si-auth-account-menu__interior{transition:transform .4s,opacity .3s;transform:none}

.navbar .nav .si-auth-account-menu__link{border-top:2px solid rgba(151,151,151,.15);padding:.78125rem 0;font-size:1rem;color:#282827;font-weight:500;display:block;text-decoration:none;width:100%}

.navbar .nav .si-auth-account-menu__link:hover,.navbar .nav .si-auth-account-menu__link:focus,.navbar .nav .si-auth-account-menu__link:active,.navbar .nav .si-auth-account-menu__link:active:hover,.navbar .nav .si-auth-account-menu__link:active:focus{text-decoration:none;border-color:rgba(151,151,151,.15);background-color:rgba(0,0,0,0)}

.navbar .nav .si-auth-account-menu__link[data-toggle=dropdown]:after{content:" ";float:right;border-width:5px;border-color:rgba(0,0,0,0);border-style:solid;display:block;width:0;height:0;margin-top:5px;margin-left:10px;border-bottom-width:0px;border-top-color:#282827;margin-top:7px}

.navbar .nav .si-auth-account-menu__link--logoff{color:#c10c21}

.navbar .nav .si-auth-account-menu__note{font-size:.75rem;color:#282827;line-height:1.5}

.navbar .nav .si-auth-account-menu__user-name{font-size:1.5rem;font-weight:500;color:#282827;display:block;margin-bottom:.78125rem}

.navbar .nav .si-auth-account-menu__status{font-size:1rem;color:#1f8f26;font-weight:500;margin-right:.625rem;margin-bottom:0}

.navbar .nav .si-auth-account-menu__checkmark{width:1rem;height:1rem;min-width:1rem;min-height:1rem;display:inline-block;border-radius:100%;background-color:#1f8f26;border:2px solid hsl(123.75,64.367816092%,64.1176470588%);background-repeat:no-repeat;background-size:0.5rem;background-position:center;background-image:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 12 10' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EShape%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-463 -185)' fill='%23fff' fill-rule='nonzero'%3E%3Cpolygon points='467.54 191.48 473.42 185.6 474.99 187.17 467.54 194.62 463.42 190.51 464.99 188.93'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")}

.navbar .nav .si-auth-account-menu__submenu{height:0;overflow:hidden;list-style-type:none;margin-block-start:0px;margin-block-end:0px;margin-inline-start:0px;margin-inline-end:0px;padding-inline-start:0px;margin-left:.9375rem}

.navbar .nav .si-auth-account-menu .open .si-auth-account-menu__submenu{height:auto}

@media(min-width: 1200px){.navbar .nav .si-auth-account-menu.active .si-auth-modal-backdrop{position:fixed;display:block;top:0;left:0;width:100vw;height:100vh;background-color:rgba(40,40,39,.3);pointer-events:auto;opacity:1}}

@media(min-width: 1200px){.navbar .nav .si-auth-account-menu.active .si-auth-account-menu__interior{opacity:1;transform:translateY(0.78125rem);pointer-events:auto}}

@media(max-width: 1199px){.navbar .nav .si-auth-account-menu.active .si-auth-account-menu__interior{height:auto;margin-top:1.5625rem}}

.navbar .nav .open .si-auth-button{display:inline-block;background-color:#f27fae;border:2px solid #f27fae;color:#fff;position:relative;font-weight:500;padding:.9375rem;text-align:center;text-decoration:none;font-size:1rem;line-height:1;cursor:pointer;text-decoration:none}

.navbar .nav .open .si-auth-button:hover,.navbar .nav .open .si-auth-button:focus,.navbar .nav .open .si-auth-button:active,.navbar .nav .open .si-auth-button:active:hover,.navbar .nav .open .si-auth-button:active:focus{color:#fff;text-decoration:none}

.navbar .nav .open .si-auth-button--with-icon{display:flex;justify-content:space-between;align-items:center}

.is-dropdown__menu .si-auth-button,.navbar .nav .open>.si-auth-account-btn,.si-auth-account-btn{display:inline-block;background-color:#f27fae;border:2px solid #f27fae;color:#fff;position:relative;font-weight:500;padding:.9375rem;text-align:center;text-decoration:none;font-size:1rem;line-height:1;cursor:pointer;text-decoration:none}

.is-dropdown__menu .si-auth-button:hover,.is-dropdown__menu .si-auth-button:focus,.is-dropdown__menu .si-auth-button:active,.is-dropdown__menu .si-auth-button:active:hover,.is-dropdown__menu .si-auth-button:active:focus,.navbar .nav .open>.si-auth-account-btn:hover,.navbar .nav .open>.si-auth-account-btn:focus,.navbar .nav .open>.si-auth-account-btn:active,.navbar .nav .open>.si-auth-account-btn:active:hover,.navbar .nav .open>.si-auth-account-btn:active:focus,.si-auth-account-btn:hover,.si-auth-account-btn:focus,.si-auth-account-btn:active,.si-auth-account-btn:active:hover,.si-auth-account-btn:active:focus{color:#fff;text-decoration:none}

.si-auth-footer{background-color:#e9e4e3}

.si-impact-feed__nav{display:flex;justify-content:flex-start;align-items:center;width:100%;margin-bottom:1.4rem}

@media(min-width: 768px){.si-impact-feed__nav{margin-bottom:2rem}}

@media(max-width: 767px){.si-impact-feed__nav{flex-direction:column}}

.si-impact-feed__nav-label{font-size:1rem;font-weight:600}

.si-impact-feed__nav-icon{background-repeat:no-repeat;background-size:contain;background-position:center;height:1.25rem;width:1.25rem;min-height:1.25rem;min-width:1.25rem;display:inline-block;margin-right:1.05rem}

@media(min-width: 768px){.si-impact-feed__nav-icon{margin-right:1.5rem}}

.si-impact-feed__nav-item{height:100%;width:auto;text-decoration:none;position:relative;display:flex;flex-direction:row;align-items:center;justify-content:center;text-decoration:none;padding:.5rem .9375rem;color:#a9a3ad;margin-right:1.4rem}

@media(min-width: 768px){.si-impact-feed__nav-item{margin-right:2rem}}

.si-impact-feed__nav-item{border-radius:22px;font-size:.875rem;font-weight:700;font-family:"Sohne Buch",system-ui,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"helvetica neue",helvetica,ubuntu,roboto,noto,"segoe ui",arial,sans-serif}

.si-impact-feed__nav-item:hover,.si-impact-feed__nav-item:focus,.si-impact-feed__nav-item:active,.si-impact-feed__nav-item:active:hover,.si-impact-feed__nav-item:active:focus{text-decoration:none}

.si-impact-feed__nav-item .icon--feed-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2 9.9a1.8 1.8 0 011.8 1.8v4.5a1.8 1.8 0 01-1.8 1.8h-4.5a1.8 1.8 0 01-1.8-1.8v-4.5a1.8 1.8 0 011.8-1.8h4.5zm0 1.8h-4.5v4.5h4.5v-4.5zM6.3 0a1.8 1.8 0 011.8 1.8v14.4A1.8 1.8 0 016.3 18H1.8A1.8 1.8 0 010 16.2V1.8A1.8 1.8 0 011.8 0h4.5zm0 1.8H1.8v14.4h4.5V1.8zM16.2 0A1.8 1.8 0 0118 1.8v4.5a1.8 1.8 0 01-1.8 1.8h-4.5a1.8 1.8 0 01-1.8-1.8V1.8A1.8 1.8 0 0111.7 0h4.5zm0 1.8h-4.5v4.5h4.5V1.8z' fill='%23A9A3AD' fill-rule='evenodd'/%3E%3C/svg%3E")}

.si-impact-feed__nav-item .icon--portfolio-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0a9 9 0 110 18A9 9 0 019 0zm7.349 9.468H9.782l-.09 6.864a7.365 7.365 0 006.657-6.864zM1.636 9a7.365 7.365 0 006.452 7.308V1.692A7.365 7.365 0 001.636 9zm8.146-7.323V7.93l6.504-.001a7.367 7.367 0 00-6.504-6.252z' fill='%23A9A3AD' fill-rule='evenodd'/%3E%3C/svg%3E")}

.si-impact-feed__nav-item .icon--messages-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.608 0a1.7 1.7 0 011.7 1.7v10.2a1.7 1.7 0 01-1.7 1.7H8.882l-5.174 3.234V13.6h-1.7a1.7 1.7 0 01-1.7-1.7V1.7a1.7 1.7 0 011.7-1.7h13.6zm0 1.7h-13.6v10.2h3.4v1.866L8.394 11.9h7.214V1.7zm-5.1 5.95v1.7h-5.95v-1.7h5.95zm1.7-3.4v1.7h-7.65v-1.7h7.65z' fill='%23A9A3AD' fill-rule='evenodd'/%3E%3C/svg%3E")}

.si-impact-feed__nav-item:hover{color:#f27fae}

.si-impact-feed__nav-item.active{color:#282827}

.si-impact-feed__nav-item.active .icon--feed-icon,.si-impact-feed__nav-item:hover .icon--feed-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.2 9.9a1.8 1.8 0 011.8 1.8v4.5a1.8 1.8 0 01-1.8 1.8h-4.5a1.8 1.8 0 01-1.8-1.8v-4.5a1.8 1.8 0 011.8-1.8h4.5zm0 1.8h-4.5v4.5h4.5v-4.5zM6.3 0a1.8 1.8 0 011.8 1.8v14.4A1.8 1.8 0 016.3 18H1.8A1.8 1.8 0 010 16.2V1.8A1.8 1.8 0 011.8 0h4.5zm0 1.8H1.8v14.4h4.5V1.8zM16.2 0A1.8 1.8 0 0118 1.8v4.5a1.8 1.8 0 01-1.8 1.8h-4.5a1.8 1.8 0 01-1.8-1.8V1.8A1.8 1.8 0 0111.7 0h4.5zm0 1.8h-4.5v4.5h4.5V1.8z' fill='%233EB7CD' fill-rule='evenodd'/%3E%3C/svg%3E")}

.si-impact-feed__nav-item.active .icon--portfolio-icon,.si-impact-feed__nav-item:hover .icon--portfolio-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0a9 9 0 110 18A9 9 0 019 0zm7.349 9.468H9.782l-.09 6.864a7.365 7.365 0 006.657-6.864zM1.636 9a7.365 7.365 0 006.452 7.308V1.692A7.365 7.365 0 001.636 9zm8.146-7.323V7.93l6.504-.001a7.367 7.367 0 00-6.504-6.252z' fill='%233EB7CD' fill-rule='evenodd'/%3E%3C/svg%3E")}

.si-impact-feed__nav-item.active .icon--messages-icon,.si-impact-feed__nav-item:hover .icon--messages-icon{background-image:url("data:image/svg+xml,%3Csvg width='18' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.608 0a1.7 1.7 0 011.7 1.7v10.2a1.7 1.7 0 01-1.7 1.7H8.882l-5.174 3.234V13.6h-1.7a1.7 1.7 0 01-1.7-1.7V1.7a1.7 1.7 0 011.7-1.7h13.6zm0 1.7h-13.6v10.2h3.4v1.866L8.394 11.9h7.214V1.7zm-5.1 5.95v1.7h-5.95v-1.7h5.95zm1.7-3.4v1.7h-7.65v-1.7h7.65z' fill='%233EB7CD' fill-rule='evenodd'/%3E%3C/svg%3E")}

@media(max-width: 767px){.si-impact-feed__nav-item{width:100%}}

@media(max-width: 767px){.si-impact-feed__nav-item:not(:last-child){margin-bottom:2.1rem}}

@media(max-width: 767px)and (min-width: 768px){.si-impact-feed__nav-item:not(:last-child){margin-bottom:3rem}}

.si-tablist.nav-tabs{border-bottom:2px solid #e9e4e3}

.risk-warning-modal.modal-dialog .modal-content .modal-footer{margin-left:1.4rem;margin-right:1.4rem}

@media(min-width: 768px){.risk-warning-modal.modal-dialog .modal-content .modal-footer{margin-left:2rem;margin-right:2rem}}

.risk-warning-modal.modal-dialog .modal-content .modal-footer{margin-bottom:1.05rem}

@media(min-width: 768px){.risk-warning-modal.modal-dialog .modal-content .modal-footer{margin-bottom:1.5rem}}

.si-maintenance-page .navbar-is-collapsed{display:none}

.si-maintenance-page .footer-links{display:none}

.footer-copyright{z-index:2147482000}

.si-navigation-list .si-link--navigation{text-decoration:underline 1px}

.si-navigation-list .si-link--navigation:hover{text-decoration:underline max(3px,.1875rem,.12em)}
