<div class="abundance-mask abundance-mask--top abundance-civic-footer-peak" aria-hidden="true">
        </div>
        <footer class="abundance-civic-footer" role="contentinfo" id="contact">
          <div class="abundance-civic-footer__inner">
            <div class="abundance-civic-footer__grid">
              <div>
                <p class="abundance-civic-footer__heading">
                  Contact us
                </p>
                <ul class="abundance-civic-footer__links">
                  <li>
                    <a href="mailto:support@abundanceinvestment.com">
                      support@abundanceinvestment.com
                    </a>
                  </li>
                  <li>
                    <a href="tel:+442034758666">
                      +44 (0)20 3475 8666
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <p class="abundance-civic-footer__heading">
                  Company
                </p>
                <p class="abundance-civic-footer__text">
                  Abundance Investment Ltd
                  <br>
                  Hamilton House
                  <br>
                  Mabledon Place
                  <br>
                  London WC1H 9BB
                  <br>
                  United Kingdom
                </p>
              </div>
              <div>
                <p class="abundance-civic-footer__heading">
                  Useful links
                </p>
                <ul class="abundance-civic-footer__links">
                  <li>
                    <a href="https://www.abundanceinvestment.com" target="_blank" rel="noopener noreferrer">
                      Abundance website
                    </a>
                  </li>
                  <li>
                    <a href="https://abundance-councils.notion.site/communications" target="_blank" rel="noopener noreferrer">
                      Support for comms teams
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="abundance-civic-footer__bottom">
              <div>
                <p class="abundance-civic-footer__small">
                  Office hours: Mon - Fri 9.30am - 5:00pm
                </p>
                <p class="abundance-civic-footer__small">
                  We aim to respond within one working day.
                </p>
              </div>
              <div>
                <p class="abundance-civic-footer__small">
                  We are a limited company registered in England and Wales (07049166).
                </p>
              </div>
              <div>
                <p class="abundance-civic-footer__small">
                  We are authorised and regulated by the Financial Conduct Authority (525432).
                </p>
                <div class="abundance-civic-footer__mini-links">
                  <span class="abundance-civic-footer__small">
                    © Abundance 2026
                  </span>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </main>
    </div>
    <script src="./js/civic-nav.js">
    </script>
    
