<div class="bg-white abundance-civic-page">
      <header class="abundance-civic-header" role="banner">
        <div class="abundance-civic-header__inner">
          <a class="abundance-civic-header__logo" href="./index.html" aria-label="Abundance home">
            <img class="abundance-civic-header__logo-img" src="./img/Abundance-Logo-2026-on-white.png" alt="Abundance" loading="eager" decoding="async">
          </a>
          <nav class="abundance-civic-nav" aria-label="Main navigation">
            <ul class="abundance-civic-nav__list">
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--pink" href="./index.html">
                  Home
                </a>
              </li>
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--indigo" href="./our-vision.html">
                  Our vision
                </a>
              </li>
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--teal" href="./benefits-today.html">
                  Benefits today
                </a>
              </li>
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--grey" href="./how-it-works.html">
                  How it works
                </a>
              </li>
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--pink-dark" href="./case-studies.html">
                  Case studies
                </a>
              </li>
              <li>
                <a class="abundance-civic-nav__link abundance-civic-nav__link--indigo" href="./about-abundance.html">
                  About Abundance
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
