/* ========================================
COMPONENT: abv2-photo
Status: unrefined (contains duplicates)
======================================== */

/* =========================================================
SOURCE: 1 - hompeage base responsive.html / OPTIONAL LARGE PHOTO
========================================================= */
.abv2-photo{
    display:none;
  }

/* =========================================================
SOURCE: 2 - council hub page.html / OPTIONAL LARGE PHOTO
========================================================= */
/* =========================================================
SOURCE: 3- homepage components.html / OPTIONAL LARGE PHOTO
========================================================= */
