/* ========================================
   COMPONENT: abv2-stat
   Homepage / landing stat
   ======================================== */

.abv2-stat__label {
  margin: 0 0 var(--abv2-space-12);
  max-width: 180px;
}

// .abv2-stat__label type removed. Instead use si-heading-5.

.abv2-stat__value {
  margin: 0;
}

// .abv2-stat__value type removed. Instead use si-stat.

/* Tablet */

@media (max-width: 979px) and (min-width: 760px) {
  .abv2-stat__label {
    max-width: 160px;
  }
}
