/* =========================================================
SOURCE: Generated additional colour tokens
========================================================= */
:root{
  --abv2-black-000:#000;
  --abv2-teal-00a4b6:#00a4b6;
  --abv2-teal-07828f:#07828f;
  --abv2-navy-0f172a:#0f172a;
  --abv2-teal-0f7d8b:#0f7d8b;
  --abv2-black-111:#111;
  --abv2-navy-111827:#111827;
  --abv2-teal-1ea4b8:#1ea4b8;
  --abv2-teal-207f8e:#207f8e;
  --abv2-neutral-454543:#454543;
  --abv2-neutral-4c4c4a:#4c4c4a;
  --abv2-neutral-6a6661:#6a6661;
  --abv2-grey-6b7280:#6b7280;
  --abv2-purple-724795:#724795;
  --abv2-ochre-7c5b0a:#7c5b0a;
  --abv2-ochre-8d6707:#8d6707;
  --abv2-plum-8f3d69:#8f3d69;
  --abv2-ochre-9c6b00:#9c6b00;
  --abv2-ochre-a87509:#a87509;
  --abv2-pink-a93f77:#a93f77;
  --abv2-pink-a93f78:#a93f78;
  --abv2-teal-aee1e7:#aee1e7;
  --abv2-pink-b24e82:#b24e82;
  --abv2-teal-b8dde3:#b8dde3;
  --abv2-green-bddfd0:#bddfd0;
  --abv2-purple-c8b7db:#c8b7db;
  --abv2-green-cfe7dd:#cfe7dd;
  --abv2-teal-d8eef1:#d8eef1;
  --abv2-green-dcead9:#dcead9;
  --abv2-stone-ddd7d2:#ddd7d2;
  --abv2-teal-dff1f3:#dff1f3;
  --abv2-teal-dff4f6:#dff4f6;
  --abv2-pink-e26da6:#e26da6;
  --abv2-ochre-e2961c:#e2961c;
  --abv2-stone-e5e1dc:#e5e1dc;
  --abv2-green-e6f0e3:#e6f0e3;
  --abv2-pink-e774ad:#e774ad;
  --abv2-stone-e8e3e2:#e8e3e2;
  --abv2-stone-e9e4e3:#e9e4e3;
  --abv2-ochre-edd9a2:#edd9a2;
  --abv2-pink-efbfd1:#efbfd1;
  --abv2-pink-efcfdf:#efcfdf;
  --abv2-stone-efe9e5:#efe9e5;
  --abv2-stone-efebea:#efebea;
  --abv2-pink-f3b7d2:#f3b7d2;
  --abv2-purple-f3edf9:#f3edf9;
  --abv2-stone-f3efee:#f3efee;
  --abv2-stone-f3f0ef:#f3f0ef;
  --abv2-grey-f3f3f3:#f3f3f3;
  --abv2-grey-f3f4f6:#f3f4f6;
  --abv2-teal-f3f9fa:#f3f9fa;
  --abv2-yellow-f5d98f:#f5d98f;
  --abv2-ochre-f6e7c8:#f6e7c8;
  --abv2-stone-f6f2ef:#f6f2ef;
  --abv2-stone-f6f3f2:#f6f3f2;
  --abv2-pink-f8d9e8:#f8d9e8;
  --abv2-pink-f8dfe9:#f8dfe9;
  --abv2-ochre-f8ebc8:#f8ebc8;
  --abv2-pink-f8f5f7:#f8f5f7;
  --abv2-grey-f9fafb:#f9fafb;
  --abv2-stone-faf8f6:#faf8f6;
  --abv2-stone-faf8f8:#faf8f8;
  --abv2-yellow-fff6d9:#fff6d9;
  --abv2-cream-fffdfa:#fffdfa;
}
