@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../base/focus" as *;
@use "../base/utils" as *;
//client implementation of buttons may involve differences with how buttons are represented on the front of site. 
//all instances of si-btn must include a size and variant. e.g. si-btn si-btn--md si-btn--primary

//variables 
//base 
$si-btn-text-transform: none !default;
$si-btn-border-radius: $si-border-radius-round !default;
$si-btn-border-width: 1px !default;
$si-btn-border-style: solid !default;
$si-btn-font-family: $si-font-primary !default;
$si-btn-font-weight: $si-font-weight-bold !default;
//padding 
$si-btn-sm-padding-x: rem-calc(16) !default;
$si-btn-sm-padding: rem-calc(7) $si-btn-sm-padding-x rem-calc(9) !default;
$si-btn-md-padding-x: rem-calc(24) !default;
$si-btn-md-padding: rem-calc(12) $si-btn-md-padding-x rem-calc(16) !default;
$si-btn-lg-padding-x: rem-calc(32) !default;
$si-btn-lg-padding: rem-calc(17) $si-btn-lg-padding-x rem-calc(21) !default;
//font-size
$si-btn-sm-font-size: rem-calc(14) !default;
$si-btn-md-font-size: rem-calc(18) !default;
$si-btn-lg-font-size: rem-calc(24) !default;
//box shadow
$si-btn-box-shadow: none !default; //temporary until levels added to primatives
$si-btn-primary-box-shadow: $si-btn-box-shadow !default;
$si-btn-primary-box-shadow-hover: $si-btn-box-shadow !default;
$si-btn-primary-box-shadow-active: $si-btn-box-shadow !default;
$si-btn-secondary-box-shadow: $si-btn-box-shadow !default;
$si-btn-secondary-box-shadow-hover: $si-btn-box-shadow !default;
$si-btn-secondary-box-shadow-active: $si-btn-box-shadow !default;
$si-btn-tertiary-box-shadow: none !default;
$si-btn-tertiary-box-shadow-hover: $si-btn-box-shadow !default;
$si-btn-tertiary-box-shadow-active: none !default;

$si-icon-btn-md-padding: rem-calc(11) !default;
$si-icon-btn-md-icon-size: rem-calc(24) !default;

$si-btn-with-icon-md-gap: $spacer-3xs !default;
$si-btn-with-icon-md-icon-size: rem-calc(24) !default;
$si-btn-group-gap: $spacer-2xs !default;

@mixin si-btn-base($include-disabled-state: true) {
    border-radius: $si-btn-border-radius;
    border-width: $si-btn-border-width;
    border-style: $si-btn-border-style;
    font-family: $si-btn-font-family;
    font-weight: $si-font-weight-bold;
    text-transform: $si-btn-text-transform;
    line-height: 1; //assumed constant values
    text-align: center; //for links styled as buttons, ensures text is centered with certain flex behaviours
    text-decoration: none;
    display: inline-block;
    align-self: start; // Prevents stretching in flex containers. TODO: check if this can be removed.
    cursor: pointer;
    @include status {
        text-decoration: none;
        box-shadow: none;
    }
    @if $include-disabled-state {
        &:disabled { // Try not to use this - bad UX. May work towards removing.
            opacity: 60%;
            pointer-events: none;
        }
    }
    &:focus-visible {
        @include focus-outline;
    }
}

@mixin si-btn-sm {
    font-size: $si-btn-sm-font-size;
    padding: $si-btn-sm-padding;
}

@mixin si-btn-md {
    font-size: $si-btn-md-font-size;
    padding: $si-btn-md-padding;
}

@mixin si-btn-lg {
    font-size: $si-btn-lg-font-size;
    padding: $si-btn-lg-padding;
}

@mixin si-btn-primary {
    color: $si-color-button-text-primary;  
    background-color: $si-color-button-surface-primary;  
    box-shadow: $si-btn-primary-box-shadow; 
    border-color: $si-color-button-border-primary;
    &:hover {
        color: $si-color-button-text-primary-hover;  
        background-color: $si-color-button-surface-primary-hover; 
        box-shadow: $si-btn-primary-box-shadow-hover; 
        border-color: $si-color-button-border-primary-hover;
    }   
    &:active {
        color: $si-color-button-text-primary-active;  
        background-color: $si-color-button-surface-primary-active; 
        box-shadow: $si-btn-primary-box-shadow-active; 
        border-color: $si-color-button-border-primary-active;
    }
}

@mixin si-btn-secondary {
    color: $si-color-button-text-secondary;  
    background-color: $si-color-button-surface-secondary;  
    box-shadow: $si-btn-secondary-box-shadow; 
    border-color: $si-color-button-border-secondary;
    &:hover {
        color: $si-color-button-text-secondary-hover;  
        background-color: $si-color-button-surface-secondary-hover; 
        box-shadow: $si-btn-secondary-box-shadow-hover; 
        border-color: $si-color-button-border-secondary-hover;
    }   
    &:active {
        color: $si-color-button-text-secondary-active;  
        background-color: $si-color-button-surface-secondary-active; 
        box-shadow: $si-btn-secondary-box-shadow-active; 
        border-color: $si-color-button-border-secondary-active;
    }
}

@mixin si-btn-tertiary {
    color: $si-color-button-text-tertiary;  
    background-color: $si-color-button-surface-tertiary;  
    box-shadow: $si-btn-tertiary-box-shadow; 
    border-color: $si-color-button-border-tertiary;
    &:hover {
        color: $si-color-button-text-tertiary-hover;  
        background-color: $si-color-button-surface-tertiary-hover; 
        box-shadow: $si-btn-tertiary-box-shadow-hover; 
        border-color: $si-color-button-border-tertiary-hover;
    }   
    &:active {
        color: $si-color-button-text-tertiary-active;  
        background-color: $si-color-button-surface-tertiary-active; 
        box-shadow: $si-btn-tertiary-box-shadow-active; 
        border-color: $si-color-button-border-tertiary-active;
    }
}

.si-btn {
    @include si-btn-base;
    // padding values irregular to compensate for descender on font 
    &--sm {
        @include si-btn-sm;
    }    
    &--md {
        @include si-btn-md;
    }    
    &--lg {
        @include si-btn-lg;
    }
    &--primary {
        @include si-btn-primary;
    }
    &--secondary {
        @include si-btn-secondary;
    }
    &--tertiary {
        @include si-btn-tertiary;
    }
    //temporary
    &--wrap {
        white-space: wrap;
    }
}

@mixin si-btn-with-icon-layout($btn-padding-x, $btn-gap, $icon-size) {
    padding-right: $btn-padding-x + $btn-gap + $icon-size;
    .si-icon {
        right: $btn-padding-x;
        width: $icon-size;
        height: $icon-size;
    }
    &.si-btn-with-icon--before {
        padding-right: $btn-padding-x;
        padding-left: $btn-padding-x + $btn-gap + $icon-size;
        .si-icon {
            left: $btn-padding-x
        }
    }
}

.si-btn-with-icon {
    display: flex;
    align-items: center;
    position: relative;

    // Size and position the icon based on the button's size variant
    .si-icon {
        position: absolute;
    }
    &.si-btn--md {
        @include si-btn-with-icon-layout($si-btn-md-padding-x, $si-btn-with-icon-md-gap, $si-btn-with-icon-md-icon-size)
    }
}

.si-icon-btn {
    aspect-ratio: 1 / 1;
    font-size: 0;
    
    &.si-btn--md {
        padding: $si-icon-btn-md-padding;
        .si-icon {
            width: $si-icon-btn-md-icon-size;
            height: $si-icon-btn-md-icon-size;
        }
    }
}

.si-btn-group {
    display: flex;
    align-items: center;
    gap: $si-btn-group-gap;
    flex-wrap: wrap;    
    &--space-between {
        width: 100%;
        justify-content: space-between;
    }    
    // used in modals with two ctas
    &--stretch {
        width: 100%;
        > * {
            flex: 1 1 0;
        }
    }
}