<style>
  @media (min-width: 1080px) {
    .brand-navbar .brand-dropdown:hover > .brand-dropdown-menu,
    .brand-navbar .brand-dropdown:focus-within > .brand-dropdown-menu {
      display: block;
    }

    .brand-navbar .brand-dropdown:hover > .brand-navbar-nav__parent-item-link,
    .brand-navbar .brand-dropdown:focus-within > .brand-navbar-nav__parent-item-link {
      text-decoration: underline;
      text-decoration-thickness: max(3px, .1875rem, .12em);
    }
  }
</style>
<header id="header" class="pageHeader header">
            <nav class="site-navbar" role="navigation">
                <div class="container">
                    <div class="navbar brand-navbar">
                        <div class="navbar-header brand-navbar-header">
                            <div class="logo-wrapper" itemscope="" itemtype="http://schema.org/Organization">
                                <a href="/" itemprop="url" rel="home">
                                    <span class="sr-only">Abundance Investment</span>
                                    <img width="300" height="102" class="logo" src="/assets/img/Abundance-Logo-2026-on-white-v2.png" alt="Abundance logo">
                                </a>
                            </div>

                            <button class="brand-navbar__hamburger-toggle js-account-menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Menu" onclick="$('.si-mega-menu__backdrop').toggleClass('active')">
                                <span class="brand-navbar__hamburger-label">Menu</span>
                                <span class="burger-button">
                                    <i></i>
                                </span>
                            </button>
                        </div>
                            <div id="navbar" class="collapse is-collapse">
                                <div class="navbar-is-collapsed">
                                    <ul class="nav navbar-nav brand-navbar-nav navbar-main" data-mobile-trigger="1080"> 
                                                    <li class="dropdown brand-dropdown brand-dropdown--invest">
                                                        <a href="#" data-bs-toggle="dropdown" class="dropdown-menu-toggle brand-dropdown-menu-toggle brand-navbar-nav__parent-item-link">
                                                            Invest
                                                        </a>
                                                        <ul class="dropdown-menu brand-dropdown-menu">
                                                                <li>
                                                                    <a href="/invest-now" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Invest now</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/how-it-works" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>How it works</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/tax-free-isa-investing" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Tax free ISA investing</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                        </ul>
                                                    </li>
                                                    
                                                    <li class="dropdown brand-dropdown brand-dropdown--learn">
                                                        <a href="#" data-bs-toggle="dropdown" class="dropdown-menu-toggle brand-dropdown-menu-toggle brand-navbar-nav__parent-item-link">
                                                            Learn
                                                        </a>
                                                        <ul class="dropdown-menu brand-dropdown-menu">
                                                                <li>
                                                                    <a href="/about-municipal-lending" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>About municipal lending</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/make-a-positive-difference" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Make a positive difference</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/understanding-the-risks" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Understanding the risks</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                        </ul>
                                                    </li>
                                                    <li class="dropdown brand-dropdown brand-dropdown--about">
                                                        <a href="#" data-bs-toggle="dropdown" class="dropdown-menu-toggle brand-dropdown-menu-toggle brand-navbar-nav__parent-item-link">
                                                            About
                                                        </a>
                                                        <ul class="dropdown-menu brand-dropdown-menu">
                                                                <li>
                                                                    <a href="/about-abundance" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>About Abundance</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/councils-we-work-with" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Councils we work with</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/our-partners" class="" target="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>Our partners</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/news-and-insight" class="">
                                                                        <div class="brand-dropdown-menu__item">
                                                                            <span>News & insight</span>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                        </ul>
                                                    </li>
                                    </ul>
                                        <ul class="nav brand-navbar--account-partial">
                                            <li class="brand-navbar__auth-btn-wrapper">
                                                <a class="si-btn si-btn--primary si-btn--lg m-b-spacer-md--mobile" href="/v2-navigation" target="_self">More pages</a>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </nav>
        </header>
