@use "../base/variables" as *;
@use "../base/utils" as *;

$si-card-padding-2xs: $spacer-2xs !default;
$si-card-padding-xs: $spacer-xs !default;
$si-card-padding-sm: $spacer-sm !default;
$si-card-padding-md: $spacer-md !default;
$si-card-padding-lg: $spacer-lg !default;
$si-card-padding-default: $si-card-padding-md !default;
$si-card-mobile-padding: $spacer-xs !default;

$si-card-primary-bg-color: $si-color-surface-primary !default;
$si-card-secondary-bg-color: $si-color-surface-secondary !default;
$si-card-tertiary-bg-color: $si-color-surface-tertiary !default;

$si-card-primary-border-radius: $si-border-radius-xl !default;
$si-card-secondary-border-radius: $si-border-radius-xl !default;
$si-card-tertiary-border-radius: $si-border-radius-md !default;

$si-card-primary-border: 1px solid $si-color-border-primary !default;
$si-card-secondary-border: none !default;
$si-card-tertiary-border: none !default;

$si-card-primary-shadow: 0px 4px 32px 0px rgba(#241F33, 4%) !default;
$si-card-secondary-shadow: none !default;
$si-card-tertiary-shadow: none !default;

@mixin card-primary {
    background-color: $si-card-primary-bg-color;
    border: $si-card-primary-border;
    border-radius: $si-card-primary-border-radius;
    box-shadow: $si-card-primary-shadow;
}

@mixin card-secondary {
    background-color: $si-card-secondary-bg-color;
    border: $si-card-secondary-border;
    border-radius: $si-card-secondary-border-radius;
    box-shadow: $si-card-secondary-shadow;
}

@mixin card-tertiary {
    background-color: $si-card-tertiary-bg-color;
    border: $si-card-tertiary-border;
    border-radius: $si-card-tertiary-border-radius;
    box-shadow: $si-card-tertiary-shadow;
}

@mixin card-base {
    width: 100%;
    padding: $si-card-padding-default;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--0 {
        padding: 0;
    }
    &--2xs {
        padding: $si-card-padding-2xs;
    }
    &--xs {
        padding: $si-card-padding-xs;
    }
    &--sm {
        padding: $si-card-padding-sm;
    }
    &--md {
        padding: $si-card-padding-md;
    }
    &--lg {
        padding: $si-card-padding-lg;
    }
    @include breakpoint(mobile-only) {
        padding: $si-card-mobile-padding;
        &--0 {
            padding: 0;
        }
    }
    &--no-border-radius { // TODO: Remove? This is only used in one place
        border-radius: 0;
    }
    &--full-height {
        height: 100%;
    }
}